:root {
  --default-color: hsl(269, 57%, 10%);
  --default-bkg: hsla(10, 54%, 86%, 0.5);
  --accent: hsl(196, 51%, 80%);
}

$accent: hsl(196, 51%, 80%);

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
}

body {
  background-color: var(--default-bkg);
  color: var(--default-color);
}

section {
  display: grid;
  place-items: center;
  padding: 0.5rem;

  > * {
    margin: auto;
  }
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;

  thead tr {
    background-color: darken($accent, 50);
    color: white;
  }

  th {
    min-width: 3rem;
  }

  td {
    padding: 3px;
  }

  tbody tr {
    background-color: var(--accent);
    text-align: center;
  }

  tbody tr:nth-child(2n + 1) {
    background-color: darken($accent, 10);
  }
}
