$default-color: #190b28;
$default-bkg: #efd0ca;
$accent: #B2D8E6;


body {
  background-color: var($default-bkg);
  color: var($default-color);
}


button {
  cursor: pointer;
}

table {
  border-collapse: collapse;

  thead tr {
    background-color: darken($accent, 50);
    color: white;
  }

  th {
    min-width: 3rem;
  }

  td {
    padding: 3px;
  }

  tbody tr {
    background-color: $accent;
    text-align: center;
  }

  tbody tr:nth-child(2n+1) {
    background-color: darken($accent, 10);
  }
}
